In [1]:
import json
import pandas as pd

# Load JSON data (if reading from a file)
with open("hist.json", "r") as f:
    quiz_data = json.load(f)

In [4]:
quiz_data[0].keys()

dict_keys(['id', 'quiz_id', 'user_id', 'submitted_at', 'created_at', 'updated_at', 'score', 'trophy_level', 'accuracy', 'speed', 'final_score', 'negative_score', 'correct_answers', 'incorrect_answers', 'source', 'type', 'started_at', 'ended_at', 'duration', 'better_than', 'total_questions', 'rank_text', 'mistakes_corrected', 'initial_mistake_count', 'response_map', 'quiz'])

In [21]:
df = pd.DataFrame(quiz_data)
df.head(2)

,id,quiz_id,user_id,submitted_at,created_at,updated_at,score,trophy_level,accuracy,speed,...,started_at,ended_at,duration,better_than,total_questions,rank_text,mistakes_corrected,initial_mistake_count,response_map,quiz
0,336497,51,YcDFSO4ZukTJnnFMgRNVwZTE4j42,2025-01-17T15:30:18.027+05:30,2025-01-17T15:30:18.044+05:30,2025-01-17T15:30:18.044+05:30,108,2,90 %,100,...,2025-01-17T15:18:30.000+05:30,2025-01-17T15:30:15.000+05:30,15:00,107,100,Topic Rank - #-171,9,12,"{'2523': 10109, '2529': 10130, '2533': 10149, ...","{'id': 51, 'name': None, 'title': 'Human Physi..."
1,336448,6,YcDFSO4ZukTJnnFMgRNVwZTE4j42,2025-01-17T15:17:44.042+05:30,2025-01-17T15:17:44.056+05:30,2025-01-17T15:17:44.056+05:30,92,1,100 %,100,...,2025-01-17T15:07:45.000+05:30,2025-01-17T15:17:41.000+05:30,15:00,395,23,Topic Rank - #-9140,3,3,"{'48': 192, '49': 197, '50': 199, '51': 203, '...","{'id': 6, 'name': None, 'title': 'Human Physio..."

In [26]:
df['quiz'] = list(df['quiz'])
df.head(2)

,id,quiz_id,user_id,submitted_at,created_at,updated_at,score,trophy_level,accuracy,speed,...,started_at,ended_at,duration,better_than,total_questions,rank_text,mistakes_corrected,initial_mistake_count,response_map,quiz
0,336497,51,YcDFSO4ZukTJnnFMgRNVwZTE4j42,2025-01-17T15:30:18.027+05:30,2025-01-17T15:30:18.044+05:30,2025-01-17T15:30:18.044+05:30,108,2,90 %,100,...,2025-01-17T15:18:30.000+05:30,2025-01-17T15:30:15.000+05:30,15:00,107,100,Topic Rank - #-171,9,12,"{'2523': 10109, '2529': 10130, '2533': 10149, ...","{'id': 51, 'name': None, 'title': 'Human Physi..."
1,336448,6,YcDFSO4ZukTJnnFMgRNVwZTE4j42,2025-01-17T15:17:44.042+05:30,2025-01-17T15:17:44.056+05:30,2025-01-17T15:17:44.056+05:30,92,1,100 %,100,...,2025-01-17T15:07:45.000+05:30,2025-01-17T15:17:41.000+05:30,15:00,395,23,Topic Rank - #-9140,3,3,"{'48': 192, '49': 197, '50': 199, '51': 203, '...","{'id': 6, 'name': None, 'title': 'Human Physio..."

In [31]:
df_quiz = pd.json_normalize(df['quiz']).add_prefix("quiz_")
df_quiz.head()

,quiz_id,quiz_name,quiz_title,quiz_description,quiz_difficulty_level,quiz_topic,quiz_time,quiz_is_published,quiz_created_at,quiz_updated_at,...,quiz_exam_id,quiz_show_unanswered,quiz_ends_at,quiz_lives,quiz_live_count,quiz_coin_count,quiz_questions_count,quiz_daily_date,quiz_max_mistake_count,quiz_reading_materials
0,51,None,Human Physiology (15),,None,Body Fluids and Circulation,2024-07-12T00:00:00.000+05:30,True,2024-07-12T11:17:37.658+05:30,2024-09-23T18:43:27.373+05:30,...,None,False,2025-01-18,None,Free Test,-1,100,"January 17, 2025",15,[]
1,6,None,Human Physiology PYQ,,None,Body Fluids and Circulation,2024-04-25T00:00:00.000+05:30,True,2024-04-26T15:26:29.886+05:30,2024-06-05T18:27:32.163+05:30,...,None,False,2025-01-18,None,Free Test,-1,23,"January 17, 2025",15,[]
2,51,None,Human Physiology (15),,None,Body Fluids and Circulation,2024-07-12T00:00:00.000+05:30,True,2024-07-12T11:17:37.658+05:30,2024-09-23T18:43:27.373+05:30,...,None,False,2025-01-18,None,Free Test,-1,100,"January 17, 2025",15,[]
3,6,None,Human Physiology PYQ,,None,Body Fluids and Circulation,2024-04-25T00:00:00.000+05:30,True,2024-04-26T15:26:29.886+05:30,2024-06-05T18:27:32.163+05:30,...,None,False,2025-01-18,None,Free Test,-1,23,"January 17, 2025",15,[]
4,51,None,Human Physiology (15),,None,Body Fluids and Circulation,2024-07-12T00:00:00.000+05:30,True,2024-07-12T11:17:37.658+05:30,2024-09-23T18:43:27.373+05:30,...,None,False,2025-01-18,None,Free Test,-1,100,"January 17, 2025",15,[]

In [47]:
df_merged = pd.concat([df,df_quiz],axis=1)
df_merged.drop(columns = ['quiz'],inplace=True)
df_merged.head(2)

,id,quiz_id,user_id,submitted_at,created_at,updated_at,score,trophy_level,accuracy,speed,...,quiz_exam_id,quiz_show_unanswered,quiz_ends_at,quiz_lives,quiz_live_count,quiz_coin_count,quiz_questions_count,quiz_daily_date,quiz_max_mistake_count,quiz_reading_materials
0,336497,51,YcDFSO4ZukTJnnFMgRNVwZTE4j42,2025-01-17T15:30:18.027+05:30,2025-01-17T15:30:18.044+05:30,2025-01-17T15:30:18.044+05:30,108,2,90 %,100,...,None,False,2025-01-18,None,Free Test,-1,100,"January 17, 2025",15,[]
1,336448,6,YcDFSO4ZukTJnnFMgRNVwZTE4j42,2025-01-17T15:17:44.042+05:30,2025-01-17T15:17:44.056+05:30,2025-01-17T15:17:44.056+05:30,92,1,100 %,100,...,None,False,2025-01-18,None,Free Test,-1,23,"January 17, 2025",15,[]

In [48]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 58 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         14 non-null     int64
 1   quiz_id                    14 non-null     int64
 2   user_id                    14 non-null     object
 3   submitted_at               14 non-null     object
 4   created_at                 14 non-null     object
 5   updated_at                 14 non-null     object
 6   score                      14 non-null     int64
 7   trophy_level               14 non-null     int64
 8   accuracy                   14 non-null     object
 9   speed                      14 non-null     object
 10  final_score                14 non-null     object
 11  negative_score             14 non-null     object
 12  correct_answers            14 non-null     int64
 13  incorrect_answers          14 non-null     int64
 14  source                     14 non-null     object
 15  type                       14 non-null     object
 16  started_at                 14 non-null     object
 17  ended_at                   14 non-null     object
 18  duration                   14 non-null     object
 19  better_than                14 non-null     int64
 20  total_questions            14 non-null     int64
 21  rank_text                  14 non-null     object
 22  mistakes_corrected         14 non-null     int64
 23  initial_mistake_count      14 non-null     int64
 24  response_map               14 non-null     object
 25  quiz_id                    14 non-null     int64
 26  quiz_name                  0 non-null      object
 27  quiz_title                 14 non-null     object
 28  quiz_description           14 non-null     object
 29  quiz_difficulty_level      0 non-null      object
 30  quiz_topic                 14 non-null     object
 31  quiz_time                  14 non-null     object
 32  quiz_is_published          14 non-null     bool
 33  quiz_created_at            14 non-null     object
 34  quiz_updated_at            14 non-null     object
 35  quiz_duration              14 non-null     int64
 36  quiz_end_time              14 non-null     object
 37  quiz_negative_marks        14 non-null     object
 38  quiz_correct_answer_marks  14 non-null     object
 39  quiz_shuffle               14 non-null     bool
 40  quiz_show_answers          14 non-null     bool
 41  quiz_lock_solutions        14 non-null     bool
 42  quiz_is_form               14 non-null     bool
 43  quiz_show_mastery_option   14 non-null     bool
 44  quiz_reading_material      0 non-null      object
 45  quiz_quiz_type             0 non-null      object
 46  quiz_is_custom             14 non-null     bool
 47  quiz_banner_id             0 non-null      object
 48  quiz_exam_id               0 non-null      object
 49  quiz_show_unanswered       14 non-null     bool
 50  quiz_ends_at               14 non-null     object
 51  quiz_lives                 0 non-null      object
 52  quiz_live_count            14 non-null     object
 53  quiz_coin_count            14 non-null     int64
 54  quiz_questions_count       14 non-null     int64
 55  quiz_daily_date            14 non-null     object
 56  quiz_max_mistake_count     14 non-null     int64
 57  quiz_reading_materials     14 non-null     object
dtypes: bool(8), int64(15), object(35)
memory usage: 5.7+ KB

In [49]:
df_merged.to_csv('clean_data.csv')